* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: white; */
} 

/* .main-header{ 
    display: flex;
    height: 20vh;
    width: 100%; 
    background: #271725;
} */ 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 148, 11);  
    padding: 15px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 30px; 
    margin-left: 30px;
}

.logo h1 {
    font-size: 24px;
    color: white; 
    margin-left: 75px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 10px;
    margin-right: 50px; 

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: black;
}

.container {
    display: flex;
    height: 100vh; 
    /* background: rgb(202, 148, 11); */
}

.sidebar {
    width: 250px;
    background-color: rgb(202, 148, 11);
    padding: 20px;
    color: white;  
    height: 100vh; 
    margin-bottom: 0;
}

.sidebar h2 {
    text-align: center; 
    
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

#book-list {
    list-style: none;
}

#book-list li {
    background-color: #3a0b04;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#book-list li:hover {
    background-color: black;
}

.main-content { 
    /* display: inline; */
    /* flex: 1; */
    padding: 40px;
    background-color: white;
    overflow-y: hidden; 
    margin-left: 220px; 
    margin-top: 80px;
    text-align: center;  
    width: 50%;
}

h1 {
    color: #333;
}

#book-display {
    margin-top: 20px;
}

.book-item {
    background-color: #eaeaea;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 20px;
    font-weight: bold;
}

.book-author {
    color: #555;
} 

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
    color: #3a0b04;
    font-family: monospace; 
    font-size: 18px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

/* .footer{
    height: 5vh; 
    background: #001304; 

}  */
